
{%extends 'base.html' %}
 <!-- PRESENTATION AREA -->
{% block content %}
 {% load static %}
<section id="home">
    <div class="pm-presentation-container pm-parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="97">

        <div class="pm-presentation-text-container">
            <div class="pm-presentation-text">
                <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"> Tamkeen-4st</h1>
                <p>We provide your company with training and certification in most significant areas.</p>

            </div>

            <ul class="pm-presentation-posts" id="pm-presentation-owl">
                <li>
                    <div class="pm-presentation-post-container">

                        <div class="pm-presentation-post-date">

                            <div class="pm-presentation-post-date-box">
                                <p class="pm-month">1 </p>
                                <!--<p class="pm-day">20000</p>-->
                            </div>

                            <!--<div class="pm-presentation-post-comment-count">
                                <p>5</p>
                            </div>-->

                        </div><!-- /pm-presentation-post-date -->

                        <div class="pm-presentation-post-title">
                            <p>ISO/IEC 20000-1:2011 </p>
                        </div>

                        <div class="pm-presentation-post-excerpt">
                            <p>ISO/IEC 20000 Training & Certificate</p>
                        </div>

                        <div class="pm-presentation-post-hover-container">
                            <!--<p class="pm-presentation-post-hover-title">protected posts</p>-->
                            <p class="pm-presentation-post-hover-excerpt">
                                ISO/IEC 20000-1:2011 is a service management system (SMS) standard. It specifies requirements for the service provider to plan, establish, implement, operate, monitor
                                <a href="#">
                                    [...]
                                </a>
                            </p>
                            <a href="{% url 'certificates' %}">Read More &raquo;</a>
                        </div>

                        <div class="pm-presentation-post-img">
                            <img src="static/img/posts/01_post.jpg" width="475" height="315" alt="post1">
                        </div>
                    </div><!-- /pm-presentation-post-container -->
                </li>
                <li>
                    <div class="pm-presentation-post-container">

                        <div class="pm-presentation-post-date">

                            <div class="pm-presentation-post-date-box">
                                <p class="pm-month">2 </p>
                                <!--<p class="pm-day">11</p>-->
                            </div>

                            <!--<div class="pm-presentation-post-comment-count">
                                <p>12</p>
                            </div>-->

                        </div><!-- /pm-presentation-post-date -->

                        <div class="pm-presentation-post-title">
                            <p>ISO/IEC 27001</p>
                        </div>

                        <div class="pm-presentation-post-excerpt">
                            <p>ISO/IEC 27001 Training &Aacute;  Certification </p>
                        </div>

                        <div class="pm-presentation-post-hover-container">
                            <!--<p class="pm-presentation-post-hover-title">protected posts</p>-->
                            <p class="pm-presentation-post-hover-excerpt">
                                The ISO 27000 family of standards helps organizations keep information assets secure.
                                <a href="#">[...]</a>
                            </p>
                            <a href="{% url 'certificates' %}">Read More &raquo;</a>
                        </div>

                        <div class="pm-presentation-post-img">
                            <img src="static/img/posts/02_post.jpg" width="475" height="315" alt="post2">
                        </div>
                    </div><!-- /pm-presentation-post-container -->
                </li>
                <li>
                    <div class="pm-presentation-post-container">

                        <div class="pm-presentation-post-date">

                            <div class="pm-presentation-post-date-box">
                                <p class="pm-month"> 3</p>
                                <!--<p class="pm-day">17</p>-->
                            </div>

                           

                        </div><!-- /pm-presentation-post-date -->

                        <div class="pm-presentation-post-title">
                            <p>ISO 9001:2015</p>
                        </div>

                        <div class="pm-presentation-post-excerpt">
                            <p>ISO 9001:2015 Training & Certification</p>
                        </div>

                        <div class="pm-presentation-post-hover-container">
                            <!--<p class="pm-presentation-post-hover-title">protected posts</p>-->
                            <p class="pm-presentation-post-hover-excerpt">
                                ISO 9001:2015 sets out the criteria for a quality management system and is the only standard in the family that can be certified to (although this is not a requirement).
                                <a href="#">[...]</a>
                            </p>
                            <a href="{% url 'certificates' %}">Read More &raquo;</a>
                        </div>

                        <div class="pm-presentation-post-img">
                            <img src="static/img/posts/03_post.jpg" width="475" height="315" alt="post3">
                        </div>
                    </div><!-- /pm-presentation-post-container -->
                </li>
                <li>
                    <div class="pm-presentation-post-container">

                        <div class="pm-presentation-post-date">

                            <div class="pm-presentation-post-date-box">
                                <p class="pm-month">4</p>
                               
                            </div>

                            

                        </div>

                        <div class="pm-presentation-post-title">
                            <p>COBIT® 5</p>
                        </div>

                        <div class="pm-presentation-post-excerpt">
                            <p>COBIT® Training and Assessment</p>
                        </div>

                        <div class="pm-presentation-post-hover-container">
                            <p class="pm-presentation-post-hover-excerpt">
                                ISACA's COBIT® 5 is the world's best governance framework for managing enterprise Information and related Technology.
                                <a href="#">[...]</a>
                            </p>
                            <a href="{% url 'certificates' %}">Read More &raquo;</a>
                        </div>

                        <div class="pm-presentation-post-img">
                            <img src="static/img/posts/04_post.jpg" width="475" height="315" alt="post4">
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section>
<!-- PRESENTATION AREA end -->
<!-- BODY CONTENT starts here -->
<!-- Services panels -->
<section id="services">
    <div class="pm-column-container pm-containerPadding60 pm-mobile-center" style="background-color:#283e4e;">

        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3">
                            <img src="static/img/home/01_service_icon.png" alt="icon1">
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9">
                            <h4 class="pm-services-panel-title">	Training  </h4>
                            <p class="pm-services-panel-text">We provide training with Excellent certified trainers .</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3">
                            <img src="static/img/home/02_service_icon.png" alt="icon2">
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9">
                            <h4 class="pm-services-panel-title">	Certification   </h4>
                            <p class="pm-services-panel-text"> For ISO 20000, ISO 27001 and ISO 9001.</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3">
                            <img src="static/img/home/03_service_icon.png" alt="icon3">
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-9">
                            <h4 class="pm-services-panel-title">	Consultancy </h4>
                            <p class="pm-services-panel-text">We are committed to growing your business through embracing technology .</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
<!-- /Services panels -->
<!-- Intro Panel -->

<div class="pm-column-container pm-containerPadding-bottom-80 pm-containerPadding-top-120 pm-container-border">

    <div class="pm-column-container-icon">
        <i class="fa fa-users"></i>
    </div>

    <div class="container pm-mobile-center">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-5">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                        <div class="pm-statistic-box-container wow fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="50" data-wow-duration="1s">
                            <h3>55%</h3>
                            <p>reduction in development costs</p>
                            <img src="static/img/home/man-icon.png" class="img-responsive" alt="reduction in development costs">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                        <div class="pm-statistic-box-container offset wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="50" data-wow-duration="1s">
                            <h3>72%</h3>
                            <p>increase in quality assurance</p>
                            <img src="static/img/home/man-icon.png" class="img-responsive" alt="increase in quality assurance">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                        <div class="pm-statistic-box-container wow fadeInUp animated" data-wow-delay="0.6s" data-wow-offset="50" data-wow-duration="1s">
                            <h3>85%</h3>
                            <p>increase in development time</p>
                            <img src="static/img/home/man-icon.png" class="img-responsive" alt="increase in development time">
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-lg-7 col-md-7 col-sm-7">
                <h2>Ready to take your company to the next level?</h2>
                <p>
                    Tamkeen4st  offers workshops and courses to help to get your development up to speed with the latest technologies, Be Certified  in  ISO 20000, ISO 27001 and ISO 9001.
                    In an environment where technology is constantly evolving its important that your staff stay current and up to date. Our courses are proven to help your employees get up to speed with the latest tech resulting in cost savings and improved development times.
                </p>
                <!--<p>Our workshops run between 1 to 2 hours and are absolutey free to registered QUANTUM members.</p>-->
                <div class="pm-rounded-btn">
                    <a href="#upcoming-workshops" class="pm-page-scroll">upcoming workshops <i class="fa fa-chevron-down"></i></a>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- /Intro Panel -->
<!-- Workshops panel -->
<div class="pm-column-container pm-containerPadding-bottom-80 pm-center">

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <h4><a id="upcoming-workshops">Upcoming Workshops</a></h4>
                <h5><a href="#">Contact us  today</a> and book your ticket to  our  workshops</h5>

            </div>

            
            {% for workshop in workshops%}

            <div class="col-lg-6 col-md-6 col-sm-6 pm-containerPadding30">
                <div class="pm-workshop-post-container">

                    <div class="pm-workshop-post-title-container">
                        <p class="pm-workshop-post-title">{{workshop.title}}</p>
                        <p class="pm-workshop-post-subtitle">{{workshop.notes}}</p>
                    </div>

                    <div class="pm-workshop-post-date-container">
                        <div class="pm-workshop-post-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <p class="pm-title">{{workshop.title}}</p>
                        <p class="pm-date">{{workshop.start_date}}</p>
                    </div>

                    <a href="{% url 'workshop' workshop.pk %}" class="pm-workshop-post-button-container">
                        <p>View full details</p>
                        <i class="fa fa-angle-right"></i>
                    </a>

                </div>
            </div>

            {%endfor%}
            <!--all workshops-->
            <!--<div class="pm-containerPadding20">
                <div class="pm-rounded-btn">
                    <a href="workshops.html">view all workshops</a>
                </div>
            </div>-->

        </div>
    </div>

</div>

<!-- Workshops panel end -->
<!-- Workshop newsletter signup panel -->
<div class="pm-column-container pm-workshop-signup pm-containerPadding60 pm-container-border pm-center pm-parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">

    <div class="pm-column-container-icon">
        <i class="fa fa-envelope"></i>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <p class="pm-newsletter-form-text">Sign up for our free to receive our great offers , we’ll send them right to your inbox.</p>

                <div class="pm-workshop-newsletter-form-container">
                    <!--<form action="#" method="post" id="workshop-newsletter-form">
                        <input name="" type="text" placeholder="Your Name">
                        <input name="" type="text" placeholder="Email Address">
                        <input type="submit" class="pm-workshop-newsletter-submit-btn" value="submit" />
                    </form>-->

                    <form   class="validate" name="mc-embedded-subscribe-form" id="pm-subscribe-form" action="" method="post">
                         {% csrf_token %}
                        <input type="text" placeholder="Your Name" id="MERGE1" name="name" class="placeholder">
                        <input type="text" placeholder="Email Address" id="MERGE0" name="email" class="placeholder">
                        <input type="submit" class="pm-workshop-newsletter-submit-btn" value="subscribe" id="mc-embedded-subscribe" name="subscribe">
                         {% if errors %}
                           <ul>
                          {% for error in errors %}
                         <li  class="pm-required" >{{ error }}</li>
                            {% endfor %}
                          </ul>
                            {% endif %}
                        {% if  result%}
                        <p  class="pm-required"> {{result}}</p>
                         {% endif %}
                    </form>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- Workshop newsletter signup panel end -->
<!-- Staff panel -->
<!-- Staff panel end -->
<!-- Statistics panel -->
<!-- Statistics panel end -->
<!-- Partners carousel -->

<div id="partners" class="pm-column-container pm-containerPadding80">


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h3 class="pm-center">Companies that partner with us for training</h3>

                <ul class="pm-partners-carousel-posts" id="pm-partners-carousel-owl">

                    <li>

                        <div class="pm-parnters-post-container">
                            <div class="pm-parnters-post-url">
                                <a href="https://pecb.com">pecb.com</a>
                            </div>
                           
                            <img src="static/img/home/partners/pceb_logo.png" class="img-responsive" alt="pecb">
                        </div>

                    </li>

                    <li>
                        <div class="pm-parnters-post-container">
                            <div class="pm-parnters-post-url">
                                <a href="https://www.isaca.org">isaca.org</a>
                            </div>
                            <img src="static/img/home/partners/isaca.jpg" class="img-responsive" alt="citrix">
                        </div>
                    </li>

                    <li>
                        <div class="pm-parnters-post-container">
                            <div class="pm-parnters-post-url">
                                <a href="http://cmmiinstitute.com/">cmmiinstitute.com/</a>
                            </div>
                          
                            <img src="static/img/home/partners/header_CMMI_institute_logo_full.png" class="img-responsive" alt="pitneybowes">
                        </div>
                    </li>


                    <li>
                        <div class="pm-parnters-post-container">
                            <div class="pm-parnters-post-url">
                                <a href="http://www.itilcertification.org/">itilcertification.org</a>
                            </div>
                            <img src="static/img/home/partners/ITIL-logo.png" class="img-responsive" alt="itil" />
                        </div>
                    </li>
                    <li>
                        <div class="pm-parnters-post-container">
                            <div class="pm-parnters-post-url">
                                <a href="http://www.iso.org/iso/home.htm">iso.org</a>
                            </div>

                            <img src="static/img/home/partners/iso-logo.png" class="img-responsive" alt="iso">
                        </div>

                    </li>
                </ul>

                <h6 class="pm-center">
                    <strong>Want your entire team to get training? </strong><br />
                    We’ll create a custom program or workshop just for your company. <br /><a href="#">Contact us  today</a> and get started with Tamkeen4st.
                </h6>
            </div>

        </div>

    </div>

</div>

<!-- Partners carousel end -->
<!-- Testimonial carousel -->

<div id="aboutus" class="pm-column-container pm-containerPadding-top-40" style="background-color:#ededed;">

    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <ul class="pm-testimonials-carousel" id="pm-testimonials-carousel-owl">

                    <li>
                        <div class="col-lg-5 col-md-5 col-sm-5 pm-center">
                            <img src="static/img/home/testimonials/01_profile.jpg" class="img-responsive" alt="profile1">
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="pm-testimonial-container">

                                <div class="pm-testimonial-quote-box">
                                    <i class="fa fa-quote-left"></i>
                                </div>

                                <div class="pm-testimonial-text-box">
                                    <p>
                                        "Tamkeen4st will help you in reaching your business goals. It has an  open minded approach in Training , Certification  and Consulting  combined with years of experience   shown throughout their work."
                                    </p>
                                    <!--<p class="pm-testimonial-name">Joe Jackson</p>
                                    <p class="pm-testimonial-title">Owner of MediaWorks Software | Toronto, Ontario</p>-->
                                </div>

                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="col-lg-5 col-md-5 col-sm-5 pm-center">
                            <img src="static/img/home/testimonials/02_profile.jpg" class="img-responsive" alt="profile2">
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7">
                            <div class="pm-testimonial-container">

                                <div class="pm-testimonial-quote-box">
                                    <i class="fa fa-quote-left"></i>
                                </div>

                                <div class="pm-testimonial-text-box">
                                    <p>
                                        "The team over Tamkeen is  great. They will  help you to get  up to speed with new  technologies in very little time. We are glade to provide you high quality training."
                                    </p>

                                   
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>

            </div>

        </div>
    </div>

</div>

   
  
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80057807-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endblock content %}