{%extends 'base.html' %}
 <!-- PRESENTATION AREA -->
{% block content %}

 {% load static %}



<!-- SUBHEADER AREA -->
        
        <div class="pm-sub-header-container pm-parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="95">
        	
            <div class="pm-sub-header-breadcrumbs">
            	<ul class="pm-sub-header-breadcrumbs-ul">
                	<li><a href="#">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li class="current">Services</li>
                </ul>
            </div>
            
            <div class="pm-sub-header-title-container">
            	<h5>Services</h5>
            </div>
            
            <div class="pm-sub-header-message">
            	<p>Learn what we can do for you</p>
            </div>
                        
        </div>
        
 		<!-- SUBHEADER AREA end -->
        
        <!-- BODY AREA -->
        
        <div class="container pm-containerPadding-top-60">
        	<div class="row">
            	
                <div class="col-lg-12">
                	<h3 class="pm-primary">We create engaging users experiences</h3>
                    <div class="pm-divider"></div>
                </div>
                
            </div>
        </div>
        
        <div class="container pm-containerPadding-top-20 pm-containerPadding-bottom-100">
        	<div class="row">
            
            	<div class="col-lg-5 col-md-5 col-sm-5">
                	<p>
At TAMKEEN4ST We have added flexibility and access to various training options. Whether you need to increase your  corporate skills on  conduct training company-wide, we can create a training solution that works for you. Plus, we offer  a set of valuable certificates you can  get the professional training you need to advance your career or grow your business  . Training is  with guidance from our knowledgeable instructors in a hands-on environment.
                	</p>
                    <p>
We are working with ICT Companies in improving the process and content of their product or service production, by providing services that enhance their business process  and improve their internal capabilities. 
                    </p>
                    
                    <div class="pm-rounded-btn">
                        <a href="{% url 'training'%}">view our courses <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
           	    	<img src="{% static 'img/services/01_collaboration.jpg' %}" class="img-responsive" alt="collaboration">
                </div>
            
            </div>
        </div>
        
        <!-- Counter panel -->
        <div class="pm-column-container pm-services-counter pm-containerPadding60 pm-container-border pm-center pm-parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
        
        	<div class="pm-column-container-icon">
            	<i class="typcn typcn-cog"></i>
            </div>
        
        	<div class="container">
            	<div class="row">
                	
                    <div class="col-lg-12">
                    	<h1 class="pm-newsletter-form-text">We Cover all your needs ...</h1>
                        
                       <!-- <div class="pm-countdown-container"></div>
                        
                        <div class="pm-rounded-btn transparent">
                        	<a href="workshops-single-post.html">view workshop <i class="fa fa-angle-right"></i></a>
                        </div>-->
                                              
                    </div>
                    
                </div>
            </div>
        
        </div>
        <!-- Counter panel end -->
        
        <div class="container pm-containerPadding-top-80 pm-containerPadding-bottom-60">
        	<div class="row">
            
            	<div class="col-lg-4 col-md-4 col-sm-4">
                	
                    <!-- Icon box -->
                    <div class="pm-icon-box-container">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            	<div class="pm-icon-box">
                                	<span class="typcn typcn-device-tablet typcn-size4 pm-primary"></span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            	<div class="pm-icon-box-content">
                                	<h6 class="pm-primary"><strong>Certification & Exams </strong></h6>
                        			<p> Internationally approved exam venues and globally Admitted Certificates  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon box end -->
                    
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4">
                	
                    <!-- Icon box -->
                    <div class="pm-icon-box-container">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            	<div class="pm-icon-box">
                                	<span class="typcn typcn-arrow-maximise-outline typcn-size4 pm-primary"></span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            	<div class="pm-icon-box-content">
                                	<h6 class="pm-primary"><strong>Consulting Support</strong></h6>
                        			<p>
 TAMKEEN4ST offers visits to monitor process description  with stakeholders<br />
                                       
                        			</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon box end -->
                    
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4">
                	
                    <!-- Icon box -->
                    <div class="pm-icon-box-container">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            	<div class="pm-icon-box">
                                	<span class="typcn typcn-flash typcn-size4 pm-primary"></span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            	<div class="pm-icon-box-content">
                                	<h6 class="pm-primary"><strong>Hands-on Environment</strong></h6>
                        			<p>Highly equipped training venues with latest facilities and tools .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon box end -->
                    
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4">
                	
                    <!-- Icon box -->
                    <div class="pm-icon-box-container">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            	<div class="pm-icon-box">
                                	<span class="typcn typcn-cog-outline typcn-size4 pm-primary"></span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            	<div class="pm-icon-box-content">
                                	<h6 class="pm-primary"><strong> Recommended standards</strong></h6>
                        			<p> We leverage the latest distributed learning technology to help companies create their own competitive advantage.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon box end -->
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                	
                    <!-- Icon box -->
                    <div class="pm-icon-box-container">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            	<div class="pm-icon-box">
                                	<span class="typcn typcn-thumbs-up typcn-size4 pm-primary"></span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            	<div class="pm-icon-box-content">
                                	<h6 class="pm-primary"><strong>Experienced Instructors</strong></h6>
                        			<p> 	

    A pool of highly qualified technical experts with multiple experiences and international certifications</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon box end -->
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                	
                    <!-- Icon box -->
                    <div class="pm-icon-box-container">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            	<div class="pm-icon-box">
                                	<span class="typcn typcn-key-outline typcn-size4 pm-primary"></span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                            	<div class="pm-icon-box-content">
                                	<h6 class="pm-primary"><strong>Post Training Support</strong></h6>
                        			<p>We never leave our clients we  provide them a high level of follow up after training and certification .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Icon box end -->
                    
                </div>
                
               
                
                
            
            </div>
        </div>
        
        
      
        <hr />










<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-80057807-1', 'auto');
ga('send', 'pageview');
</script>



{% endblock content %}
